@import "/src/_variables.scss";

.stack-container {
  display: flex;
  align-items: center;
  height: 65vh;
  font-family: "Sen";

  .stack-intro {
    flex-basis: 35%;
    padding: 64px;

    h1 {
      margin: 0;
      font-weight: 700;
      font-size: 55px;
      line-height: 66px;
    }

    p {
      margin: 32px;
      color: $secondary-font-color;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
    }
  }

  .stack-skills {
    flex-basis: 65%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 60%;
    padding: 32px;

    div {
      border-bottom: 1px solid white;
      display: flex;
      justify-content: space-between;
      width: 42%;
      margin: 4px;
      padding: 16px;

      header {
        display: flex;
        align-items: center;
      }

      h2 {
        margin: 0 16px;
      }
    }

    p {
      color: $secondary-font-color;
    }
  }
}
