@import "/src/variables.scss";

.home_work-container {
  height: 100%;
  padding: 16px;
  overflow: hidden;

  header {
    h5 {
      font-family: $primary-font-family;
      font-size: 14px;
      color: lightgrey;
    }
    h3 {
      font-size: 32px;
      font-family: $title-font-family;
    }
  }

  #home_works {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    span {
      max-width: 90%;
      border-radius: 10px;
      padding: 8px;

      h1 {
        font-size: 3rem;
        margin: 0;
        color: lightgrey;
      }

      h2 {
          font-family: $primary-font-family;
      }
      p {
        font-family: $secondary-font-family;
        color: $secondary-font-color;
      }
    }
  }
}

@media screen and (min-width: 875px) {
  .home_work-container {
    height: 80vh;
    font-family: "Sen";
    padding: 64px;

    header {
      h5 {
        font-style: normal;
        font-size: 16px;
        color: lightgrey;
      }
      h3 {
        font-size: 55px;
        line-height: 66px;
      }
    }

    #home_works {
      flex-direction: row;
      align-items: center;
      height: 50%;

      span {
        max-width: 30%;
        h1 {
          font-size: 4rem;
          color: lightgrey;
        }
      }
    }
  }
}
