.home_work-container {
  height: 100%;
  font-family: "Sen";
  padding: 16px;
  overflow: hidden;

  header {
    h5 {
      font-size: 14px;
    }
    h3 {
      font-size: 32px;
    }
  }

  #home_works {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    span {
      max-width: 30%;
      h1 {
        font-size: 3rem;
        margin: 0;
        color: lightgrey;
      }
    }
  }

  h5 {
    color: lightgrey;
  }
}

@media screen and (min-width: 875px) {
  .home_work-container {
    height: 80vh;
    font-family: "Sen";
    padding: 64px;

    header {
      h5 {
        font-style: normal;
        font-size: 16px;
      }
      h3 {
        font-size: 55px;
        line-height: 66px;
      }
    }

    #home_works {
      margin-top: 64px;
      flex-direction: row;

      span {
        h1 {
          font-size: 4rem;
          color: lightgrey;
        }
      }
    }

    h5 {
      color: lightgrey;
    }
  }
}
