@import "/src/_mixins";

.stack_list {
  width: 100%;
  height: 100%;
  margin: 16px;

  ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    font-size: 28px;
    line-height: 120%;
    height: 100%;
    @include list-reset;

    :hover {
      text-decoration: underline;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 8px;
      padding: 8px;
      width: 180px;
    }
  }
}
