.card-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  margin: 60px 18px;
  width: 260px;
  height: 300px;
  position: relative;
  perspective: 500px;

  &:hover {
    .card-bg {
      transform: rotateY(0deg);
      transition: transform 0.5s ease;
    }

    .card-description {
      transform: translateX(-1%);
      transition: transform 0.5s ease;
    }
  }
  &-bg {
    background: radial-gradient(circle, #2f2d2d, #4a4744);
    box-shadow: 15px 11px 3px 0px rgba(0, 0, 0, 0.75);
    width: 260px;
    height: 300px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateY(30deg) translateZ(60px);
  }
  &-icon {
    path {
      stroke: white;
    }
  }
}

.card-description {
  background-color: #f0ede7;
  color: #403e3c;
  width: 160px;
  padding: 18px;
  position: absolute;
  top: 110px;
  bottom: 16px;
  left: 35px;
  box-shadow: 0px 0px 10px #000;
  transform: rotateY(30deg) translateZ(60px);

  h3 {
    margin: 0;
  }

  p {
    font-size: 12px;
  }
}


@media screen and (min-width: 875px) {
    .card-slider {
    } 

}
