@import "/src/variables.scss";

.certifications {
  font-family: "Sen";
  margin: 32px;

  &_header {
    h5 {
      font-size: 16px;
      color: lightgrey;
    }
    h3 {
      font-family: $title-font-family;
      font-size: 32px;
    }
  }

  &_container {
    margin-top: 32px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (min-width: 875px) {
  .certifications {
    &_header {
      margin: 32px;
      h3 {
        font-size: 55px;
        line-height: 66px;
      }
    }
  }
}
