.certifications {
  margin: 32px;

  &_header {
    margin: 32px;
    h5 {
      font-size: 16px;
      font-family: "Sen";
      color: lightgrey;
    }
    h3 {
      font-size: 55px;
      line-height: 66px;
    }
  }

  &_container {
      margin: 32px 32px 0 32px;
  }
}
