.projects {
  display: flex;
  flex-direction: column;
  padding: 16px;

  &-container {
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-header {
    h5 {
      font-size: 16px;
      font-family: "Sen";
      color: lightgrey;
    }
    h3 {
      font-size: 32px;
    }
  }
}

@media screen and (min-width: 875px) {
  .projects {
    padding: 0 64px;
    max-height: 80vh;

    &-header {
      h3 {
        font-size: 55px;
        line-height: 66px;
      }
    }

    &-container {
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
