.home_projects-container {
  display: flex;
  flex-direction: column;
  padding: 16px;

  section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  header {
    h5 {
      font-size: 14px;
      font-family: "Sen";
      color: lightgrey;
    }
    h3 {
      font-size: 32px;
    }
  }
}

@media screen and (min-width: 875px) {
  .home_projects-container {
    padding: 64px;
    height: 80vh;

    header {
      h5 {
        font-size: 16px;
      }
      h3 {
        font-size: 55px;
      }
    }
  }
}
