@import "/src/_variables.scss";

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  background-color: transparent;

  ul {
    list-style-type: none;
    margin: auto 32px;

    li {
      display: inline;
      padding: 0 32px;
      cursor: pointer;
    }
  }

  .header_link {
    color: white;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: "Sen";
    font-style: normal;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
      font-weight: bolder;
      font-size: 1.4rem;
    }
  }

  .header_link-active {
    color: white;
    font-family: "Sen";
    text-decoration: underline;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.5rem;
  }

  .header_signature {
    margin: 8px 32px;
  }
}
