@import "/src/_variables.scss";

.header {
  display: flex;
  height: $headerHeight;
  justify-content: space-between;
  background-color: transparent;

  ul {
    list-style-type: none;
    margin: auto 32px;

    li {
      display: inline;
      padding: 0 32px;
      cursor: pointer;

    }
  }
  .header_link {
      &:hover {
        text-decoration: underline;
          transform: scale(1.2);
      }
  }

  .header_signature {
    margin: 8px 32px;
  }
}
