@import "/src/_variables.scss";
.footer {
  padding: 16px 32px;
  background-color: $secondary-background-color;

  p {
    color: $secondary-font-color;
  }

  &_container {
    display: flex;
    flex-grow: 2;

    .footer_socials {
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      header {
        img {
          width: 88px;
          border-radius: 50%;
        }

        section {
          margin-top: 32px;

          * {
            cursor: pointer;
            padding-right: 16px;
          }

          :hover {
            opacity: 0.9;
          }
        }
      }
    }

    &-nav {
      flex-basis: 50%;

      ul {
        li {
          margin: 16px 32px;
          font-weight: bold;
          font-size: large;

          a {
            text-decoration: none;
            color: white;
          }

          &:hover {
            text-decoration: underline;
            font-size: larger;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 875px) {
  .footer {
    padding: 32px 64px;

    &_socials {
      header {
        img {
          width: 120px;
        }
      }
    }
  }
}
