.home_values-container {
  background-color: #fff3e4;
  height: 80vh;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  color: #181823;
  font-family: "Sen";

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
      margin: 18px;
      font-style: normal;
      font-size: 18px;
      line-height: 130%;
      color: #5b6876;
    }
  }

  header {
    font-size: 32px;
    line-height: 56px;
    text-align: center;
  }

  svg {
    margin: auto;
    :hover {
      filter: hue-rotate(120deg);
    }
  }
}

@media screen and (min-width: 875px) {
  .home_values-container {
    position: relative;
    height: 65vh;
    flex-direction: row;

    section {
      width: 50vw;
      height: 100%;
      background-color: #fff3e4;

      &:first-child {
        text-align: center;
        padding: 0 64px;
      }

      p {
        margin: 8px;
        font-weight: 400;
        font-size: 22px;
        color: #5b6876;
      }
    }

    header {
      position: relative;
      font-weight: 400;
      font-size: 32px;
      line-height: 56px;
      display: flex;
      justify-content: center;

      h1 {
        margin: 0;
      }
    }
  }
}
