@import "/src/_variables.scss";

.home {
  display: revert;
  animation: dropIn 1s;

  &_snapshot {
    position: relative;
    padding: 16px 16px 0 16px;
    background: linear-gradient(
      to bottom,
      $primary-background-color 30%,
      $secondary-background-color 70%
    );

    &:first-child {
      text-align: center;
    }

    img {
      margin-top: 20vh;
      width: 70%;
      border-radius: 16px;
      animation: slideIn 1.5s;
    }

    h1 {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 88px;
      font-size: 1.8rem;
      font-family: $primary-font-family;
    }

    p {
      color: $secondary-font-color;
    }
  }
}
@media screen and (min-width: 875px) {
  .home {
    &_snapshot {
      height: 75vh;
      background: linear-gradient(
        to right,
        $primary-background-color 30%,
        $secondary-background-color 70%
      );

      &:first-child {
        text-align: left;
      }

      img {
        position: absolute;
        margin-top: 12vh;
        opacity: 0.9;
        left: 12vw;
        width: 33%;
        max-height: 90%;
        border-radius: 16px;

        &:hover {
          opacity: 1;
        }
      }

      h1 {
        top: 128px;
        left: 52vw;

        transform: translate(0, 0);
        font-size: 2rem;
        line-height: 64px;
        font-family: $primary-font-family;
      }

      p {
        bottom: 5vh;
        left: 52vw;
        position: absolute;
        line-height: 1.8rem;
        width: 44vw;
      }
    }
  }
}

@keyframes dropIn {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
