@import "/src/_variables.scss";

.home {
  display: flex;
  flex-direction: column;

  .home_snapshot-container {
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: row;

    .home_picture {
      z-index: 1;
      padding-top: 12vh;
      padding-left: 12vw;

      img {
        width: 480px;
        opacity: 0.8;
        border-radius: 5px;

        &:hover {
          opacity: 1;
        }
      }
    }

    .home_description {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      width: 50vw;
      height: 80vh;
      background-color: $secondary-background-color;
      flex-direction: column;
      justify-content: center;
      font-size: 2rem;
      line-height: 68px;
      font-family: $primary-font-family;
      font-style: normal;
      font-weight: bold;
      padding-left: 8vw;

      h1 {
        z-index: 2;
      }

      p {
        z-index: 2;
        font-size: medium;
        color: $secondary-font-color;
      }
    }
  }
}
