@import "/src/_variables.scss";

.home {
  display: flex;
  flex-direction: column;

  .home_snapshot-container {
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: row;

    .home_picture {
      z-index: 1;
      padding-top: 12vh;
      padding-left: 12vw;

      img {
        width: 480px;
        opacity: 0.8;
        border-radius: 5px;

        &:hover {
          opacity: 1;
        }
      }
    }

    .home_description {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      width: 50vw;
      height: 80vh;
      background-color: $secondary-background-color;
      flex-direction: column;
      justify-content: center;
      font-size: 2rem;
      line-height: 68px;
      font-family: $primary-font-family;
      font-style: normal;
      font-weight: bold;
      padding-left: 8vw;

      h1 {
        z-index: 2;
      }

      p {
        z-index: 2;
        font-size: medium;
        color: $secondary-font-color;
      }
    }
  }

  .home_work-container {
    height: 85vh;
    font-family: "Sen";
    padding: 64px;

    header {
      h5 {
        width: 168px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
      }
      h3 {
        width: 700px;
        font-weight: 700;
        font-size: 55px;
        line-height: 66px;
      }
    }

    #home_works {
      margin-top: 48px;
      display: flex;
      justify-content: space-evenly;

      span {
        h1 {
          font-size: 4rem;
          color: lightgrey;
        }
      }
    }

    h5 {
      color: lightgrey;
    }
  }

  .home_values-container {
    height: 65vh;
    display: flex;
    justify-content: stretch;
    color: #181823;

    section {
      width: 50vw;
      background-color: #fff3e4;

      &:first-child {
        text-align: center;
        padding: 64px;
      }

      p {
        font-family: "Sen";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #5b6876;
      }
    }

    header {
      position: relative;
      font-family: "Sen";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 56px;
      display: flex;
      justify-content: center;
    }
  }

  .home_skillset-container {
    display: flex;
    height: 65vh;
    font-family: "Sen";

    .skillset-intro {
      flex-basis: 35%;
      padding: 32px;

      h1 {
        font-weight: 700;
        font-size: 55px;
        line-height: 66px;
      }

      p {
        margin: 16px;
        color: $secondary-font-color;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
      }
    }

    .skillset-skills {
      flex-basis: 65%;
      display: flex;
      flex-wrap: wrap;
      padding: 32px;

      article {
        flex-basis: 50%;

        header {
          display: flex;
          align-items: center;
          padding: 8px;

          :last-child {
            margin-left: 16px;
            font-weight: 700;
            font-size: 24px;
          }
        }

        p {
          color: $secondary-font-color;
        }
      }
    }
  }

  .home_projects-container {
    height: 80vh;
    h5 {
      width: 168px;
      font-weight: 700;
      font-size: 16px;
    }
  }
}
