$headerHeight: 60px;
$view-height: 90vh;

$white-color: #ffffff;

$primary-background-color: #1c1c1e;
$secondary-background-color: #181823;

$secondary-font-color: #8491a0;

$primary-font-family: Sen;
